.columns-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
    grid-gap: 1.5rem;
}

.columns-container__section {
    display: flex;
    flex-direction: column;
}

.columns-container.align-last .columns-container__section > *:last-child {
    margin-top: auto;
}