$primary-color: #69BFAB;
$secondary-color: #83D0F5;

$black: #2A363B;
$red: #F67280;
$red-dark: #C06C84;
$orange: #F8B195;
$yellow: #FECEAB;
$white: #FFF;
$light-gray: rgb(247, 248, 252);
$dark-gray: rgb(228, 231, 246);

$base-font-size: 1.2rem;
$base-line-height: 1.5;
$body-font-family: "BeausiteClassicWeb Light", "Open Sans", "Helvetica", "Arial", sans-serif;
$header-font-family: "BeausiteClassicWeb Bold", "Open Sans", "Helvetica", "Arial", sans-serif;

$breakpoint-desktop: 100ch;

$unit: 4px;
$base-padding: 2rem;

$site-header-height: 4rem;

$burger-item-height: .25rem;
$burger-item-border-radius: .25rem;
$burger-item-space-between: .25rem;
$primary-nav-toggle-height: 3*$burger-item-height + 2*$burger-item-space-between;
$primary-nav-toggle-width: $burger-item-height * 8;