:root {
    --primary-color: #69BFAB;
    --secondary-color: #83D0F5;

    --black: #2A363B;
    --red: #F67280;
    --red-dark: #C06C84;
    --orange: #F8B195;
    --yellow: #FECEAB;
    --white: #FFF;
}

body {
    color: var(--black);
    font-size: 1.5rem;
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    line-height: 1.75;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
    color: var(--primary-color)
}

img {
    max-width: 100%;
}

strong {
    color: var(--primary-color);
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

nav ul {
    list-style: none;
    margin: 0;
}

nav > ul {
    padding: 0;
}

nav a.active {
    font-weight: bold;
}


/* internal relative link */
/* https://css-tricks.com/snippets/css/style-links-depending-on-destination/ */
main a:not([href^="http"]):before {
    content: '→ ';
}


/* Change select color */
::-moz-selection { /* Code for Firefox */
    color: white;
    background: var(--primary-color);
}

::selection {
    color: white;
    background: var(--primary-color);
}


/**
  *
  * Individual elements
  *
 */

body {
    display: grid;
    min-height: 100dvh;
    grid-template-areas:
        "site-header-area"
        "site-main-area"
        "site-footer-area";
    grid-template-rows: auto 1fr auto;
    overflow-x: hidden;
}

.site-header,
.primary-nav,
.secondary-nav,
.site-main,
.site-footer {
    padding: 1rem;
}


.site-header {
    grid-area: site-header-area;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.site-logo-container {
    order: 2;
    display: block;
    flex-grow: 2;
}

.site-logo {
    width: 64px;
    margin: auto;
    display: block;
}

.primary-nav-toggle {
    display: inline-block;
    order: 1;
}

.secondary-nav-toggle {
    display: inline-block;
    order: 3;
}


.primary-nav {
    position: fixed;
    top: 0;
    left: -256px;
    /*grid-area: primary-nav-area;*/
}

.secondary-nav {
    position: fixed;
    top: 0;
    right: -256px;
    /*grid-area: secondary-nav-area;*/
}

.lang-menu {

}

.site-main {
    grid-area: site-main-area;
    max-width: 60rem;
}

.site-footer {
    grid-area: site-footer-area;
}


.primary-nav-toggle:hover,
.secondary-nav-toggle:hover
{
    cursor: pointer;
}
body > * {
    transition: .2s ease-in-out;
}

.primary-nav--opened,
.secondary-nav--opened {
    overflow-y: hidden;
}

.primary-nav--opened > * {
    transform: translateX(256px);
}

.secondary-nav--opened > * {
    transform: translateX(-256px);
}

/*
    TODO: dim brightness of body content
 */
.primary-nav--opened .site-header,
.primary-nav--opened .site-main,
.primary-nav--opened .site-footer {
    /*filter: brightness(50%);*/
}