@import 'normalize';
@import 'fonts';
@import 'vars';
@import 'shortcode--columns-container';
@import 'primary-nav-toggle';
@import 'scrollbar-customization';
@import 'selection-color';

body {
  font-family: $body-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  max-width: $max-width;
  overflow-x: hidden; /* remove scrollbar when closing open sidebar */
}

img {
  max-width: 100%;
}

a {
  color: $secondary-color;
  text-decoration: none;
}

nav ul {
  list-style: none;
}

nav > ul {
  padding: $base-padding;
  margin: 0;
}

.secondary-nav li {
  display: inline-block;
}

.site-footer {
  background: $primary-color;
  color: $white;
  padding: $base-padding;
  text-align: center;

  p {
    margin: 0;
    padding: 0;
  }
}

.site-header {
  display: flex;
  z-index: 10;
  height: $site-header-height;
  width: 100%;
  background: $light-gray;
  position: fixed;
  max-width: $max-width;
  top: 0;

  .site-logo-container {
    display: block;
    margin: auto;

    .site-logo {
      display: block;
      height: $site-header-height;
      padding: 0;
      margin: 0;
    }
  }
}

.site-main {
  display: grid;
  min-height: 100dvh;
  grid-template-areas:
          "page-content"
          "site-footer";
  grid-template-rows: 1fr auto;

  .page-content {
    padding: $site-header-height $base-padding $base-padding;
    grid-area: page-content;

    /* https://css-tricks.com/snippets/css/style-links-depending-on-destination/ */
    a:not([href^="http"]):before {
      content: '→ ';
    }
  }

  .site-footer {
    grid-area: site-footer;
  }
}

.site-aside {
  position: fixed;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: -$site-aside-width;
  width: $site-aside-width;
}

.site-footer, .page-content, .site-header, .site-aside {
  transition: .3s ease-in-out;
}

.primary-nav--opened {
  overflow: hidden;

  .site-footer, .page-content, .site-header, .site-aside {
    transform: translateX($site-aside-width);
  }
}

@media screen and (min-width: $max-width) {
  .primary-nav-toggle {
    display: none;
  }

  .site-main {
    margin-left: $site-aside-width;

    .page-content {
      padding-top: 0;
    }
  }

  .site-aside {
    left: 0;
    top: $site-header-height;
    min-height: calc(100dvh - 4rem);
  }

  .site-header {
    left: 0;
    background: none;
    width: $site-aside-width;

    .site-logo-container {
      margin-left: $base-padding;
    }
  }
}