:root {
    --primary-color: #69BFAB;
    --secondary-color: #83D0F5;

    --black: #2A363B;
    --red: #F67280;
    --red-dark: #C06C84;
    --orange: #F8B195;
    --yellow: #FECEAB;
    --white: #FFF;
    --light-gray: rgb(247, 248, 252);
    --dark-gray: rgb(228, 231, 246);
}

body {
    color: var(--black);
    font-size: 1.5rem;
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    line-height: 1.75;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    color: var(--primary-color)
}

img {
    max-width: 100%;
}

strong {
    color: var(--primary-color);
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

nav ul {
    list-style: none;
    margin: 0;
}

nav > ul {
    padding: 0;
}

nav a.active {
    font-weight: bold;
    color : var(--primary-color);
}


/* internal relative link */
/* https://css-tricks.com/snippets/css/style-links-depending-on-destination/ */
main a:not([href^="http"]):before {
    content: '→ ';
}


/* Change select color */
::-moz-selection { /* Code for Firefox */
    color: white;
    background: var(--primary-color);
}

::selection {
    color: white;
    background: var(--primary-color);
}


/* Change scrollbar */
html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    height: clamp(0.75rem, 0.5rem + 0.9vw, 1rem);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 32px;
}

::-webkit-scrollbar-track {
    background-color: var(--light-gray);
    border: 1px dashed var(--dark-gray);
}


/**
  *
  * Individual elements
  *
 */

body {
    display: grid;
    min-height: 100dvh;
    grid-template-areas:
        "site-header-area"
        "site-main-area"
        "site-footer-area";
    grid-template-rows: auto 1fr auto;
    overflow-x: hidden;
}

.site-header,
.primary-nav,
.secondary-nav,
.site-main,
.site-footer {
    padding: 1rem;
}

.site-main {
    padding-bottom: 2rem;
}

.site-header {
    grid-area: site-header-area;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.site-logo-container {
    order: 2;
    display: block;
    flex-grow: 2;
    position:fixed;
}

.site-logo {
    width: 100px;
    margin: auto;
    display: block;
}






.lang-menu {

}

.site-main {
    grid-area: site-main-area;
}

.site-footer {
    grid-area: site-footer-area;
    background-color: var(--primary-color);
    color: lightgray;
}



body > * {
    transition: .2s ease-in-out;
}




.columns-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    grid-gap: 24px;
}

.columns-container.align-last .columns-container__section > *:last-child {
    margin-top: auto;
}

.columns-container__section {
    display: flex;
    flex-direction: column;
}

@media (min-width: 100ch) {
    /* Styles for large devices (desktops, 992px and up) */
    body {
        grid-template-areas:
        "site-header-area site-main-area"
        "primary-nav-area site-main-area"
        "secondary-nav-area site-footer-area";
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 20ch fit-content(80ch);
    }


    .primary-nav {
        grid-area: primary-nav-area;
        position: fixed;
        top: 10rem;
    }

    .secondary-nav {
        grid-area: secondary-nav-area;
        background-color: var(--primary-color);
        position: revert;
    }

    .secondary-nav a {
        color: var(--light-gray);
    }


    .site-footer {
        display: flex;
        align-items: end;
    }
}