@import 'normalize';
@import 'fonts';
@import 'vars';
@import 'shortcode--columns-container';
@import 'primary-nav-toggle';
@import 'scrollbar-customization';
@import 'selection-color';

body {
  font-family: $body-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  max-width: 150ch;
  overflow-x: hidden; /* remove scrollbar when closing open sidebar */
}

img {
  max-width: 100%;
}

a {
  color: $secondary-color;
  text-decoration: none;
}

.site-footer {
  background: $primary-color;
  color: $white;
  padding: $base-padding;
  text-align: center;

  p {
    margin: 0;
    padding: 0;
  }
}

.site-header {
  display: flex;
  z-index: 10;
  height: $site-header-height;
  width: 100%;
  background: $light-gray;
  position: fixed;
  max-width: 150ch;
  top: 0;

  .site-logo-container {
    display: block;
    margin: auto;

    .site-logo {
      display: block;
      height: $site-header-height;
      padding: 0;
      margin: 0;
    }
  }
}

.site-main {
  display: grid;
  min-height: 100dvh;
  grid-template-areas:
          "page-content"
          "site-footer";
  grid-template-rows: 1fr auto;

  .page-content {
    padding: $site-header-height $base-padding $base-padding;
    grid-area: page-content;

    /* https://css-tricks.com/snippets/css/style-links-depending-on-destination/ */
    a:not([href^="http"]):before {
      content: '→ ';
    }
  }

  .site-footer {
    grid-area: site-footer;
  }
}

.site-aside {
  position: fixed;
  top: 0;
  left: -200px;
  width: 200px;
}

.site-footer, .page-content, .site-header, .site-aside {
  transition: .3s ease-in-out;
}

.primary-nav--opened {
  overflow: hidden;

  .site-footer, .page-content, .site-header, .site-aside {
    transform: translateX(200px);
  }
}