<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<head>
    {{ partial "head.html" . }}
</head>
<body>
<header class="site-header">
    {{ partial "header.html" . }}
</header>
<main class="site-main">
    <section class="page-content">
        {{ block "main" . }}{{ end }}
    </section>
    <footer class="site-footer">
        {{ partial "footer.html" . }}
    </footer>
</main>
<aside class="site-aside">
    <nav class="primary-nav">
        {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
    </nav>
    <nav class="secondary-nav">
        {{ partial "lang-menu.html" . }}
    </nav>
</aside>
</body>
</html>